* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    top: 10px;
    left: 200px;
    position: relative;
    background-color: red;
}

.container2 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    top: 50px;
    left: 50px;
    z-index: 40;
    position: relative;
    background-color:green;
}

.container3 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    top: 80px;
    right: 100px;
    position: relative;
    background-color: blue;
}

.squart {
    display: flex;
}

div .container2:hover {
    
    height: 300px;
    width: 300px;
    transition: all 3s 0s;
    transform: rotate(-45deg);
    /* transform: translateX(180px) rotate(45deg); */

    
}